.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  list-style: none;
  overflow: hidden;
}

.card__image {
  max-width: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__header {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 29.05px;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Like\ button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  padding: 0;
}
